{% extends "layout/main-layout.html" %}
{% set active_page = 'add_user' %}

{% block mainContent %}
	<div class="container">
        {% if error %}
            <p style="color: red; text-align: center">
                {{ error }}
                {% set error = "" -%}
            </p>
        {% endif %}

        {% if success %}
            <p style="color: green; text-align: center">
                {{ success }}
                {% set success = "" -%}
            </p>
        {% endif %}

        <form action="" method="post">
            <div class="form-group">
                <label for="fname">First name</label>
                <input type="text" id="fname" name="fname" placeholder="First name" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="lname">Surname</label>
                <input type="text" id="lname" name="lname" placeholder="Surname" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="username@domain.com" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="phonenumber">Phone Number</label>
                <input type="tel" id="phonenumber" name="phonenumber" placeholder="0xxxxxxxxx" required autocomplete="off" pattern="^0\d{9}$">
            </div>

            <div class="form-group">
                <label for="dept">Department</label>
                <select name="dept" id="dept">
                    <option value="" selected disabled>-- Select a department --</option>
                    {% for dept in departments %}
                        <option value="{{ dept.deptid }}">{{ dept.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="cpassword">Repeat Password</label>
                <input type="password" id="cpassword" name="cpassword" placeholder="Repeat Password" required autocomplete="off">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Create User</button>
        </form>

        <hr>

        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phonenumber</th>
                <th>Role</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
            {% for item in users if item.email != user.email  %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.fname }} {{ item.lname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phonenumber }}</td>
                    <td>{{ item.role }}</td>
                    <td>{{ item.dept_name }}</td>
                    <td>
                        <a href="/admin/delete_user/{{ item.userid }}" style="color: red;">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock mainContent %}