{% extends "layout/main-layout.html" %}
{% set active_page = 'complain' %}

{% block mainContent %}
	<div class="container">
        {% if error %}
            <p style="color: red; text-align: center">
                {{ error }}
                {% set error = "" -%}
            </p>
        {% endif %}

        {% if success %}
            <p style="color: green; text-align: center">
                {{ success }}
                {% set success = "" -%}
            </p>
        {% endif %}

        <form action="/make_complain" method="post">
			<input type="hidden" name="userid" value="{{ user.userid }}">
            <div class="form-group">
                <label for="problem">Problem Type</label>
                <select name="problem" id="problem">
                    <option value="" selected disabled>-- Select your problem type --</option>
                    <option value="Network">Network</option>
					<option value="Printer">Printer</option>
					<option value="Office computer">Office computer</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Problem Description</label>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>

        <hr>

        <table>
			<tr>
				<th>#</th>
				<th>Complain Type</th>
				<th>Description</th>
				<th>Timestamp</th>
				<th>Assignee</th>
				<th>Actions</th>
			</tr>

			{% for complain in complains %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ complain.complain_type }}</td>
					<td>{{ complain.complain_desc }}</td>
					<td>{{ complain.time_readable }}</td>
					<td>{{ complain.assignee }}</td>
					<td>
						<a href="/mark_solved/{{ complain.complain_id }}" style="color: blue;">Mark as solved!</a>
						&nbsp;|&nbsp;
						<a href="/delete_complain/{{ complain.complain_id }}" style="color: red;">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
    </div>
{% endblock mainContent %}